{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row">
        <h1 class="page-header">Department Workspace</h1>
    </div>
    <div class="row">
        <a class="btn btn-default" href="/users"><i class="fa fa-arrow-left"></i> User Management</a>
    </div>
    <br>
    <div id="flashes" class="row"></div>
    <div id="loading"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
    <div id="departmentWorkspace" style="display:none;"></div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/dist/app/department.min.js"></script>
{{end}}
