{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main department-page">
    <div class="department-page-heading">
        <div>
            <a class="department-back-link" href="/users"><i class="fa fa-arrow-left"></i> Керування користувачами</a>
            <h1 class="page-header" id="departmentTitle">Робочий простір відділу</h1>
            <p id="departmentSubtitle">Завантаження даних відділу…</p>
        </div>
        <div class="department-page-heading-icon"><i class="fa fa-sitemap"></i></div>
    </div>
    <div id="flashes" class="row"></div>
    <div id="loading" class="department-loading"><i class="fa fa-spinner fa-spin fa-3x"></i><span>Завантаження структури відділу…</span></div>
    <div id="departmentWorkspace" style="display:none;"></div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/dist/app/department.min.js"></script>
{{end}}
