{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Фішингові сценарії</h1>
    <div id="flashes" class="row"></div>
    {{if .ModifyObjects}}
    <div class="row">
        <button type="button" class="btn btn-primary" onclick="edit(-1)" data-toggle="modal" data-backdrop="static" data-target="#modal">
            <i class="fa fa-plus"></i> Новий сценарій
        </button>
    </div>
    {{end}}
    &nbsp;
    <div id="loading"><i class="fa fa-spinner fa-spin fa-4x"></i></div>
    <div id="emptyMessage" class="row" style="display:none;">
        <div class="alert alert-info">Створіть сценарій, щоб об’єднати шаблон листа, сторінку переходу та профіль відправлення.</div>
    </div>
    <div class="row">
        <table id="scenariosTable" class="table app-list-table" style="display:none;">
            <thead>
                <tr>
                    <th>Назва</th>
                    <th>Шаблон листа</th>
                    <th>Сторінка переходу</th>
                    <th>Профіль відправлення</th>
                    <th>Дата зміни</th>
                    <th class="col-md-2 no-sort"></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="dismiss()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalLabel">Новий фішинговий сценарій</h4>
            </div>
            <div class="modal-body" id="modal_body">
                <div class="row" id="modal.flashes"></div>
                <div class="form-group">
                    <label class="control-label" for="name">Назва:</label>
                    <input type="text" class="form-control" placeholder="Назва сценарію" id="name" autofocus />
                </div>
                <div class="form-group">
                    <label class="control-label" for="template">Шаблон листа:</label>
                    <select class="form-control" id="template"></select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="page">Сторінка переходу:</label>
                    <select class="form-control" id="page"></select>
                </div>
                <div class="form-group">
                    <label class="control-label" for="profile">Профіль відправлення:</label>
                    <select class="form-control" id="profile"></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-default" onclick="dismiss()">Скасувати</button>
                <button type="button" class="btn btn-primary" id="modalSubmit">Зберегти сценарій</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/dist/app/phishing_scenarios.min.js"></script>
{{end}}
