{{define "body"}}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div class="row user-campaigns-header">
        <div class="col-sm-8">
            <h1 class="page-header">Users Campaigns</h1>
            <p class="text-muted">Administrative, read-only view of campaigns and the materials used by every user.</p>
        </div>
        <div class="col-sm-4 text-right user-campaigns-header-actions">
            <button id="resetUserCampaignFilters" class="btn btn-default"><i class="fa fa-undo"></i> Reset filters</button>
        </div>
    </div>
    <div id="flashes" class="row"></div>
    <div id="loading" class="text-center user-campaigns-loading"><i class="fa fa-spinner fa-spin fa-3x"></i><p>Loading campaign workspaces…</p></div>
    <div id="userCampaignDashboard" style="display:none;">
        <div class="row" id="userCampaignTotals"></div>
        <div class="panel panel-default user-campaigns-filters">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-5 form-group">
                        <label for="userCampaignSearch">Search</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-search"></i></span>
                            <input id="userCampaignSearch" class="form-control" type="search" placeholder="User, campaign, group, template, or scenario">
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="userCampaignStatus">Campaign status</label>
                        <select id="userCampaignStatus" class="form-control">
                            <option value="">All statuses</option>
                        </select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="userCampaignOwner">Owner</label>
                        <select id="userCampaignOwner" class="form-control">
                            <option value="">All users</option>
                        </select>
                    </div>
                    <div class="col-md-1 form-group user-campaigns-filter-count">
                        <label>Shown</label>
                        <p id="userCampaignFilterCount" class="form-control-static">0</p>
                    </div>
                </div>
            </div>
        </div>
        <div id="userCampaignWorkspaces"></div>
        <div id="userCampaignEmpty" class="panel panel-default text-center" style="display:none;">
            <div class="panel-body"><i class="fa fa-search fa-2x text-muted"></i><p>No campaigns match the selected filters.</p></div>
        </div>
    </div>
</div>

<div class="modal fade" id="userCampaignDetailsModal" tabindex="-1" role="dialog" aria-labelledby="userCampaignDetailsTitle">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="userCampaignDetailsTitle">Campaign details</h4>
            </div>
            <div class="modal-body" id="userCampaignDetailsContent"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{define "scripts"}}
<script src="/js/dist/app/user_campaigns.min.js"></script>
{{end}}
